@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
   background-color: purple; 
}
.visible{
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.visible input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555;
}

.visible i {
    width: 35px;
    cursor: pointer;
}